.wrapper{
    width: 70%;
    margin: 0 auto;
}
.Turan-profiel{
    border: 5px solid;
    border-color: black;
    border-radius: 8px;
}
.text-turan{
    padding-left: 15px;
}
.Marouane-profiel{
    border: 5px solid;
    border-color: black;
    border-radius: 8px;
    margin-top: 10px;
}
.Marouane-text{
    padding-left: 15px;
}